body {
    font-family: 'Comic Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/fundo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.hidden {
    display: none;
}

#mensagem-loading {
    font-size: 1.5em;
    color: #ff9900;
    margin: 20px 0;
}

#mensagem-erro {
    font-size: 1.5em;
    color: #dc143d;
    margin: 20px 0;
}

#pokemon-info img {
    width: 70px;
    max-width: 200px;
    margin: 20px 0px 0px 0px;
}

.sessao-campo-pesquisa, .btns-navegacao {
    margin: 10px 0;
}

#input-pesquisar {
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ffcc00;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    #input-pesquisar {
        width: 70%;
    }

    #btn-pesquisar {
        margin: 10px 0px 0px 0px;
    }
}
